
/*-- scss:defaults --*/
  

 /* $primary: #637238 !default; */
  
  /*-- scss:rules --*/
  
 /* .sidebar-title {
    color: #637238;
  }

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* status box styling */
  
/*.status {
    border: 2px solid #637238;
    padding: 1em;
    margin-bottom: 1em;
  }

*/


/*-- scss:rules --*/

img+p.caption {
        font-size: 0.5em;
}



.status p {
  margin-bottom: 0;
}

/* Headings ------------------------------------------------------ */
  
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

/*.quarto-section-identifier {
  color: #6C6C6C;
    font-weight: normal;
}

/* Code ------------------------------------------------ */
  
  code {
    color: #373a3c;
  }

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}



/* colors */
:root {
  --dark-blue: #002b36;
  --light-blue: #A7D5E8;
  --green: #007500;
  --gray: #A7A7A7;
  --pink: #E9AFA3;
  --yellow: #e9d968;
  --beige: #fdf6e3;
  --green-faint: #8fada750;
  --light-blue-faint: #A7D5E850;
  --pink-faint: #E9AFA350;
  --blue:#0000FF;
  --purple:#A020F0;
  --red:#A00;
}

/* Font colors */
.dark-blue {
  color: var(--dark-blue);
}
.light-blue {
  color: var(--light-blue);
}
.green {
  color: var(--green);
}
.gray {
  color: var(--gray);
}
.pink {
  color: var(--pink);
}
.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}


.pink {
 font-family: 'Montserrat', sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #F26BAA;
}


.instructions {
  border-left: solid 5px #FFCC00;
  background-color: #FFCC0050;
  padding: 10px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.instructions li::before {
  /* content: ">";  */
  color: #FFCC00;
  display: inline-block; 
  margin-left: -1.5em
}